.custom-section {
  padding: 40px 20px;
}

.custom-section__content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.custom-section__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-section__text {
  margin-bottom: 1rem;
}

.custom-section__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.custom-section__image-element {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.custom-section__button {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  .custom-section__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .custom-section__text-wrapper {
    flex: 1;
    max-width: 50%;
    align-items: start;
  }
}
